*font: xft:monospace-12
*boldFont: xft:monospace-12
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

Xcursor.theme: whiteglass
Xcursor.size: 12

! Color
URxvt.color1: #C0392B
URxvt.color2: #11D116
URxvt.color3: #FDBC4B
URxvt.color4: #1D99F3
URxvt.color7: #999999
URxvt.depth: 32
URxvt.background: [60]#232629
URxvt.foreground: #FCFCFC
URxvt.cursorColor: #7F8C8D
URxvt.pointerColor: #000000
URxvt.pointerColor2: #999999


URxvt*.transparent: true
URxvt*.shading: 60
URxvt.xftAntialias: true
URxvt.scrollBar: False
URxvt.scrollstyle: plain
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.iso14755: False
